:root {
  --color-heading: #0b0d19;
  --color-body: #677386;
  --color-bg-button: #3d7bfa;
  --color-text-button: #fff;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 0;
}

/* Begynd her... */

h1 {
  color: var(--color-heading);
}

p {
  color: var(--color-body);
}

button {
  background-color: var(--color-bg-button);
  color: var(--color-text-button);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid-item-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
.grid-item-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
